parameters:
	kahuna:
		apiBaseUrl: https://tap-nexus.appspot.com/api
		authUsername: abc123 #sandbox
		authPassword: abc123 #sandbox
		isSandbox: true

services:
	kahunaRequestFactory: \HQ\Kahuna\RequestFactory(%kahuna%)
    - \HQ\Kahuna\Manager(@kahunaRequestFactory)